@charset "UTF-8";

@font-face {
  font-family: "ucdh-icons";
  src:url("../fonts/ucdh.eot");
  src:url("../fonts/ucdh.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ucdh.woff") format("woff"),
    url("../fonts/ucdh.ttf") format("truetype"),
    url("../fonts/ucdh.svg#ucdh") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ucdh-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ucdh-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\61";
}
.icon-menu:before {
  content: "\62";
}
.icon-help:before {
  content: "\63";
}
.icon-edit:before {
  content: "\64";
}
.icon-last:before {
  content: "\65";
}
.icon-first:before {
  content: "\66";
}
.icon-prev:before {
  content: "\67";
}
.icon-next:before {
  content: "\68";
}
.icon-down:before {
  content: "\69";
}
.icon-up:before {
  content: "\6a";
}
.icon-users:before {
  content: "\6b";
}
.icon-user-female:before {
  content: "\6c";
}
.icon-user:before {
  content: "\6d";
}
.icon-user-line:before {
  content: "\6e";
}
.icon-user-female-line:before {
  content: "\6f";
}
.icon-mail:before {
  content: "\70";
}
.icon-calendar:before {
  content: "\71";
}
.icon-docs:before {
  content: "\72";
}
.icon-add:before {
  content: "\73";
}
.icon-add-user:before {
  content: "\74";
}
.icon-push:before {
  content: "\75";
}
.icon-revert:before {
  content: "\76";
}
.icon-delete-user:before {
  content: "\77";
}
.icon-view:before {
  content: "\78";
}
.icon-note:before {
  content: "\79";
}
